<div class="container-xl" id="header">
    <div class="row">
        <div class="col-3 text-center text-white" id="logo"> Creation </div>
            <div class="col-9">
                <center>
                    <nav>
                        <li> <a href="#"> Dashboard </a> </li>
                        <li> <a href="#"> My Profile </a> </li>
                        <li> <a href="#"> Abouts </a> </li>
                        <li> <a href="#"> Logout </a> </li>
                    </nav>
                </center>
            </div>
    </div>
</div>