<style>
    #nav a {
        margin: 10px 30px;
        font-size: 22px;
        padding: 5px 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>

<div class="container-xl" id="nav">
    <div class="row">
        <div class="col bg-info">
            <a href="{% url 'sign_up' %}" class="btn btn-info"> Sign Up </a>
            <a href="{% url 'login' %}" class="btn btn-info"> Login </a>
            <a href="{% url 'logout' %}" class="btn btn-info"> Logout </a>
            <a href="{% url 'index' %}" class="btn btn-info"> Home </a>

        </div>
    </div>
</div>


    {% comment %} <center>
      <h2>Home</h2> <br>
      <a href="{% url 'password_change' %}" class="btn btn-danger"> Change Password </a> <br> <br>
      <a href="{% url 'reset_password' %}" class="btn btn-warning"> Reset Password </a>
    </center> {% endcomment %}