{% extends 'index.html' %}
{% block main %}
<br>
<center>
        <div class="container-md">
            <div class="row">
                <div class="col">
                    <form action="" method="POST"  novalidate id="signup">
                        <h3 style="color: white;"> Sign Up </h3> <br>
                        {% csrf_token %}
                
                        {% for fm in form %}
                            {{fm.label_tag}} {{fm}}  {{fm.errors|striptags}} <br> <br>
                        {% endfor %}
                
                        <br><input type="submit" class="btn btn-danger" value="Sign Up" id="sub"> <br>
                        <p id="desc"> I Already have an account. <a href="{% url 'login' %}"> Login </a> </p>
                        

                    </form>
                </div>
            </div>
        </div>
</center>

{% endblock %}